/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/mskcc-omics-workflows/test-datasets'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/mskcc-omics-workflows/test-datasets/refs/heads/neoantigenpipeline'
    test_data_mskcc = {
                'neoantigen' {
                    test_muts_json                                 = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test.muts.json.gz"
                    test_summ_json                                 = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test.summ.json.gz"
                    test_mutass_zip                                = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test.mutass.zip"
                    test_mutass_0_json                             = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test_mutass/0.json"
                    test_mutass_1_json                             = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test_mutass/1.json"
                    temp_test_maf                                  = "${params.modules_testdata_base_path}/neoantigen/neoantigen/temp_test_somatic_unfiltered.maf"
                    winners_hla_txt                                = "${params.modules_testdata_base_path}/neoantigen/neoantigen/winners.hla.txt"
                    temp_test_short_maf                            = "${params.modules_testdata_base_path}/neoantigen/neoantigen/temp_test_somatic_shortened.maf"
                    MUTnetMHCpan                                   = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test.MUT.netmhcpan.output"
                    WTnetMHCpan                                    = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test.WT.netmhcpan.output"
                    MUTnetMHC                                      = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test.MUT.netmhc.output"
                    WTnetMHC                                       = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test.WT.netmhc.output"
                    MUTnetMHCpanstab                               = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test.MUT.netmhcstabpan.output"
                    WTnetMHCpanstab                                = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test.WT.netmhcstabpan.output"
                    MUTnetMHCpan_tsv                               = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test_netmhcpan.output.MUT.tsv"
                    WTnetMHCpan_tsv                                = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test_netmhcpan.output.WT.tsv"
                    MUTnetMHC_tsv                                  = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test_netmhc.output.MUT.tsv"
                    WTnetMHC_tsv                                   = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test_netmhc.output.WT.tsv"
                    MUTnetMHCpanstab_tsv                           = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test_netmhcstabpan.output.MUT.tsv"
                    WTnetMHCpanstab_tsv                            = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test_netmhcstabpan.output.WT.tsv"
                    WT_sequence_fa                                 = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test.WT.sequences.fa"
                    MUT_sequence_fa                                = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test.MUT.sequences.fa"
                    cdna                                           = "${params.modules_testdata_base_path}/neoantigen/neoantigen/Homo_sapiens.GRCh37.75.cdna.all.fa.gz"
                    cds                                            = "${params.modules_testdata_base_path}/neoantigen/neoantigen/Homo_sapiens.GRCh37.75.cds.all.fa.gz"
                    gtf                                            = "${params.modules_testdata_base_path}/neoantigen/neoantigen/Homo_sapiens.GRCh37.75.gtf.gz"
                    fa_gz                                          = "${params.modules_testdata_base_path}/neoantigen/neoantigen/Homo_sapiens.GRCh37.dna_rm.chromosome.22.fa.gz"
                    gff3                                           = "${params.modules_testdata_base_path}/neoantigen/neoantigen/Homo_sapiens.GRCh37.87.chromosome.22.gff3"
                    gff3_gz                                        = "${params.modules_testdata_base_path}/neoantigen/neoantigen/Homo_sapiens.GRCh37.87.chromosome.22.gff3.gz"
                    cnvs_txt                                       = "${params.modules_testdata_base_path}/neoantigen/neoantigen/cnvs.txt"
                    unfilteredmaf                                  = "${params.modules_testdata_base_path}/neoantigen/neoantigen/temp_test_somatic_unfiltered.maf"
                    facets_gene_level_txt                          = "${params.modules_testdata_base_path}/neoantigen/neoantigen/facets_gene_level.txt"
                    facets_hisens_cncf_txt                         = "${params.modules_testdata_base_path}/neoantigen/neoantigen/facets_hisens.cncf.txt"
                    ssm_data                                       = "${params.modules_testdata_base_path}/neoantigen/neoantigen/ssm_data.txt"
                    cnv_data                                       = "${params.modules_testdata_base_path}/neoantigen/neoantigen/cnv_data.txt"
                    trees                                          = "${params.modules_testdata_base_path}/neoantigen/neoantigen/trees.zip"
                    svbedpe                                        = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test.sv.bedpe"
                    MUT_sv_fa                                      = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test.MUT.SV.fa"
                    WT_sv_fa                                       = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test.WT.SV.fa"
                    'small_test_chr2and16' {
                        gff3                                       = "${params.modules_testdata_base_path}/neoantigen/neoantigen/small_test_chr2and16/Homo_sapiens.GRCh37.87.chr2_16.gff3"
                        fa_bgzip                                   = "${params.modules_testdata_base_path}/neoantigen/neoantigen/small_test_chr2and16/Homo_sapiens.GRCh37.dna_rm.chromosome.chr2_16.fa.bgzip.gz"
                        fa_gzip                                    = "${params.modules_testdata_base_path}/neoantigen/neoantigen/small_test_chr2and16/Homo_sapiens.GRCh37.dna_rm.chromosome.chr2_16.fa.gzip.gz"
                        facets_gene_level                          = "${params.modules_testdata_base_path}/neoantigen/neoantigen/small_test_chr2and16/facets_gene_level.chr2_16.txt"
                        facets_hisens_cncf                         = "${params.modules_testdata_base_path}/neoantigen/neoantigen/small_test_chr2and16/facets_hisens.cncf.chr2_16.txt"
                        somatic_filtered_maf                       = "${params.modules_testdata_base_path}/neoantigen/neoantigen/small_test_chr2and16/somatic_filtered.chr2_16.maf"
                        sv_filtered_bedpe                          = "${params.modules_testdata_base_path}/neoantigen/neoantigen/small_test_chr2and16/sv_filtered.chr2_16.bedpe"
                    }
                    'iedb' {
                        iedb_fasta                                 = "${params.modules_testdata_base_path}/neoantigen/neoantigen/neoantigenEditing/data/iedb.fasta"
                        iedb_fasta_phr                             = "${params.modules_testdata_base_path}/neoantigen/neoantigen/neoantigenEditing/data/iedb.fasta.phr"
                        iedb_fasta_pin                             = "${params.modules_testdata_base_path}/neoantigen/neoantigen/neoantigenEditing/data/iedb.fasta.pin"
                        iedb_fasta_psq                             = "${params.modules_testdata_base_path}/neoantigen/neoantigen/neoantigenEditing/data/iedb.fasta.psq"
                    }
                    patient_data                                   = "${params.modules_testdata_base_path}/neoantigen/neoantigen/neoantigenEditing/data/Patient_data/OLTS/Primary/3_OLTS_primary_tumor.json"
                    iedb_alignments                                = "${params.modules_testdata_base_path}/neoantigen/neoantigen/neoantigenEditing/data/IEDB_alignments/iedb_alignments_3-OLTS.txt"
                    test_annotated                                 = "${params.modules_testdata_base_path}/neoantigen/neoantigen/test_patient_test_annotated.json"
                }
    }
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
