/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run mskcc/neoantigenpipeline -profile prod,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

nextflow.enable.moduleBinaries = true

process {
    beforeScript = "module load singularity/3.7.1; unset R_LIBS; catch_term () { echo 'caught USR2/TERM signal'; set +e; false; on_exit ; } ; trap catch_term USR2 TERM"
    maxRetries = 3
    executor = 'lsf'
    queueSize = 500
    perJobMemLimit = true
    resourceLimits = [
        cpus: 5,
        memory: '10.GB',
        time: '100.h'
    ]
}

params {
    config_profile_name        = 'Prod profile'
    config_profile_description = 'Minimal conf to run the pipeline'

    netmhc3 = true

    // Genome references
    genome = 'GRCh37'
    phylo_burnin_samples = 1000
    phylo_mcmc_samples = 2500
    phylo_num_chains = 15

    iedbfasta = 'https://raw.githubusercontent.com/mskcc/NeoantigenEditing/refs/heads/main/data/iedb.fasta'
    cds = 'https://github.com/mskcc-omics-workflows/test-datasets/raw/neoantigen/neoantigen/Homo_sapiens.GRCh37.75.cds.all.fa.gz'
    cdna = 'https://github.com/mskcc-omics-workflows/test-datasets/raw/neoantigen/neoantigen/Homo_sapiens.GRCh37.75.cdna.all.fa.gz'
}
