/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run mskcc/neoantigenpipeline -profile prod,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

nextflow.enable.moduleBinaries = true

params {
    config_profile_name        = 'Prod profile'
    config_profile_description = 'Production conf to run the pipeline'

    // Genome references
    genome = 'GRCh37'
    // Disable phylowsgs by default to avoid long runtime and large resource usage
    run_phylowgs = false
    phylo_burnin_samples = 2
    phylo_mcmc_samples = 2
    phylo_num_chains = 2
    netmhc3 = true
    kd_cutoff = 500
    compute_fitness_a = 22.897590714815188
    compute_fitness_k = 1
    compute_fitness_w = 0.22402192838740312
    mutalyzer_cache_dir = '/data1/core006/resources/neoantigen/mutalyzer_cache'

    iedbfasta = 'https://raw.githubusercontent.com/mskcc-omics-workflows/test-datasets/neoantigen/neoantigen/neoantigenEditing/data/iedb.fasta'
    reference_fasta = '/data1/core006/resources/neoantigen/Homo_sapiens.GRCh37.dna.toplevel.fa.bgzip.gz'
    reference_gff3  = '/data1/core006/resources/neoantigen/Homo_sapiens.GRCh37.87.gff3'
    cdna = '/data1/core006/resources/neoantigen/Homo_sapiens.GRCh37.87.cdna.all.fa.gz'
    gtf = '/data1/core006/resources/neoantigen/Homo_sapiens.GRCh37.87.gtf.gz'
}
