/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running tests with RNA annotation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Extends the base test config to enable RNA annotation of neoantigens.
    Uses a samplesheet that includes kallisto abundance data.

    Use as follows:
        nextflow run mskcc/neoantigenpipeline -profile test_rna,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

nextflow.enable.moduleBinaries = true

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h'
    ]
}

// Generate samplesheet with resolved absolute path for local test data
def rna_samplesheet = new File("${projectDir}/assets/samplesheet_rna_resolved.csv")
rna_samplesheet.text = """\
sample,maf,facets_hisens_cncf,hla_file,kallisto_abundance
tumor_normal,https://raw.githubusercontent.com/mskcc-omics-workflows/test-datasets/neoantigen/neoantigen/small_test_chr2and16/somatic_filtered.chr2_16.maf,https://raw.githubusercontent.com/mskcc-omics-workflows/test-datasets/neoantigen/neoantigen/small_test_chr2and16/facets_hisens.cncf.chr2_16.txt,https://raw.githubusercontent.com/mskcc-omics-workflows/test-datasets/neoantigen/neoantigen/winners.hla.txt,${projectDir}/tests/data/test_abundance.tsv
"""

params {
    config_profile_name        = 'Test profile (RNA annotation)'
    config_profile_description = 'Minimal test dataset with RNA annotation enabled'

    // Input data - dynamically generated samplesheet with resolved abundance path
    input  = "${projectDir}/assets/samplesheet_rna_resolved.csv"

    // Genome references
    genome = 'GRCh37'
    run_phylowgs = false
    phylo_burnin_samples = 2
    phylo_mcmc_samples = 2
    phylo_num_chains = 2
    netmhc3 = true
    kd_cutoff = 500
    compute_fitness_a = 22.897590714815188
    compute_fitness_k = 1
    compute_fitness_w = 0.22402192838740312

    // RNA annotation
    run_rna_annotation = true
    rna_tpm_threshold  = 1.0

    iedbfasta = 'https://raw.githubusercontent.com/mskcc-omics-workflows/test-datasets/neoantigen/neoantigen/neoantigenEditing/data/iedb.fasta'
    reference_fasta = 'https://github.com/mskcc-omics-workflows/test-datasets/raw/neoantigen/neoantigen/small_test_chr2and16/Homo_sapiens.GRCh37.dna_rm.chromosome.chr2_16.fa.bgzip.gz'
    reference_gff3  = 'https://github.com/mskcc-omics-workflows/test-datasets/raw/neoantigen/neoantigen/small_test_chr2and16/Homo_sapiens.GRCh37.87.chr2_16.gff3'
    cdna = 'https://github.com/mskcc-omics-workflows/test-datasets/raw/neoantigen/neoantigen/Homo_sapiens.GRCh37.75.cdna.all.fa.gz'
    gtf = 'https://github.com/mskcc-omics-workflows/test-datasets/raw/neoantigen/neoantigen/Homo_sapiens.GRCh37.75.gtf.gz'
}
